body {
  background-color: #f7f7f9;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

#msgWindow {
  white-space: pre;
  overflow-y: auto;
  overflow-x: none;
  height: 250px;
  line-height: 20px;
  font: 14px;
  word-wrap: break-word;
  background-color: #ffffff;
}

#usrWindow {
  white-space: pre;
  overflow-y: auto;
  overflow-x: none;
  height: 250px;
  line-height: 20px;
  font: 14px;
  word-wrap: break-word;
  background-color: #ffffff;
}
 
.shadow {
  box-shadow: 2px 2px 4px 1px #000000;
  padding-top: 10px;
  padding-right: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.allMsg {
}
 
.users {
  font-weight: bold;
}

.privMsg {
  font-style:italic;
}
 
.adminMsg {
  font: 12px;
  font-style:italic;
}

.input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
